doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://static.aliyun.com/??css/www-knight/dpl/dpl.css?v={v}')
    link(rel='stylesheet', href='http://g.assets.daily.taobao.net/aliyun/awdc/0.1.1/style/css/awdc_reg.css')
    
    script(src="//g.alicdn.com/kissy/k/1.4.3/seed-min.js")
  body
    block content